<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    
    <h1>Create A Basketball Team</h1>
    <form method= "POST" action="/team">
        <P>Team Name: <input type="text" name="name"></P>
        <P>Coach: <input type="text" name="coach"></P>
        <P>Point Guard: <input type="text" name="pg"></P>
        <P>Shooting Guard: <input type="text" name="sg"></P>
        <P>Power Forward: <input type="text" name="pf"></P>
        <P>Small Forward: <input type="text" name="sf"></P>
        <P>Center: <input type="text" name="c"></P>
        <input type="submit" id="Submit" />   
    </form>
 
 </body>
</html>


